@charset "UTF-8";

/*headerすべてに適用*/
#nav {
	justify-content: space-between;/*左右に分ける*/
	list-style:none;/*点を消す*/
	display: flex;/*横並びにする*/
	padding-right:60px;/*区切りを開ける*/	
	}

/* bodyタグ */
body {
  background-image: notinsertyet;
  margin: 0px 0px 0px 0px;	/* マージンなし（後で個別に設定） */
  padding: 0px 0px 0px 0px;	/* パディングなし（後で個別に設定） */
  color: #FFFFFF;         /* 本文・見出しに白 */
  text-shadow: 0 0 5px #FF0000; /* ネオン効果の影 */
  font-size: 16px;
  background-color:#f4dbd0;
}
