@charset "UTF-8";

.searcher-box {
  background-image: url(/A3/img/WhiteFlower.png);
  max-width: 400px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  width: 100px;
  font-weight: bold;
}

.form-row input[type="text"] {
  flex: 1;
  padding: 4px 8px;
  

}
}




