@charset "UTF-8";
body {
	background-image: url('');
  	background-repeat: no-repeat;
  	background-size: cover; /* 画面全体にフィット */
   
  }
.hero.contact {
	
    background-image: url(../img/WhiteFlower.png);
    padding: 137px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align:center;
}

form {
  /* padding: 6px;*/
  color: #2B2721;
}

input[name=id] {
  width: 16em;
}

input[name=pw] {
  width: 16em;
}

input[name=f_name]{
  width: 16em;
}

input[name=l_name]{
  width: 16em;
}

input[name=k_f_name]{
  width: 16em;
}

input[name=k_l_name]{
  width: 16em;
}

input[name=zipcode]{
  width: 8em;
}

input[name=address]{
  width: 60em;
}

input[name=email]{
  width: 30em;
}

input[name=phone]{
  width: 30em;
}

form {
    margin: 0 auto;
    max-width: 500px;
    
}
input[type="text"], textarea {
    padding: 6px;
    width: 90%;
    height:4px;
    font-size: 1rem;
}
textarea {
    height: 120px;
	text-align: center;
}
