@charset "UTF-8";

.hero {
	
    background-image: url(../img/whiteflowerremake.png);
    padding: 5px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align:center;
   
}
.herocontact{
 margin: 10px auto;/*上右下左の順番*/
 background-color: rgba(251,232,211,0.5);
 padding: 180px;
 border-radius: 100px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 height:50px;
 width: 370px;
 font-size: 20px;
 text-align: center;
}

error_message{
	font-size: 0.4rem;
}

form {
  /* padding: 6px;*/
  color: #2B2721;
}

input[name=id] {
  width: 16em;
}

input[name=pw] {
  width: 16em;
}

input[name=f_name]{
  width: 16em;
}

input[name=l_name]{
  width: 16em;
}

input[name=k_f_name]{
  width: 16em;
}

input[name=k_l_name]{
  width: 16em;
}

input[name=zipcode]{
  width: 8em;
}

input[name=address]{
  width: 60em;
}

input[name=email]{
  width: 30em;
}

input[name=phone]{
  width: 30em;
}

form {
    margin: 0 auto;
    max-width: 800px; 
    
}
table{
	margin:0 auto 0 auto;
	width:70%;
	color:#FFFFFF;
}
input[type="text"], textarea {
    padding: 6px;
    width: 90%;
    height:10px;
    font-size: 0.6rem;
}
textarea {
    height: 120px;
	text-align: center;
}
td {
	width: 50%;
	
}
