@charset "UTF-8";
body{
	text-align:center;
	white-space: nowrap;
}

.hero {
	
    background-image: url(../img/whiteflowerremake.png);
    padding: 5px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align:center;
   
}
.herosimu{
 margin: 10px auto;
 background-color: rgba(251,232,211,0.5);
 padding: 180px;
 border-radius: 100px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 height:50px;
 width: 370px;
 font-size: 20px;
 text-align: center;
}

.tab {
 margin: 10px auto;/*上右下左の順番*/
 text-align: center;
 background-color: rgba(251,232,211,0.5);
 padding: 180px;
 border-radius: 100px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 width: 300px;
 font-size: 21px;
 text-align: center;
}

#sentaku{
	font-size: 50px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.course{
	text-align: left;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
  padding-top:10px;
  padding-bottom:10px;
  min-height:20vh
  /* white-space:nowrap; */
  
}