@charset "UTF-8";

.hero {
	
    background-image: url(../img/WhiteFlower.png);
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align:center;
   
}
.herosimu{
 margin: 10px auto;
 background-color: rgba(251,232,211,0.5);
 padding: 180px;
 border-radius: 100px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 height:50px;
 width: 370px;
 font-size: 20px;
 text-align: center;
}

.div {
	margin: 10px auto;
	text-align: center;
}