@charset "UTF-8";

body {
  background-image: url(/A3/img/WhiteFlower.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.change {
 background-color: rgba(251,232,211,0.5);
 padding: 50px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 width: 500px;
 margin: 160px 0 70px 500px; /*上右下左の順番*/
 font-size: 50px;
 text-align: center;
}